<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>reST Previewer - Preview Tool for reStructuredText</title>
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="{{url_for('static', filename="style.css")}}">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Aclonica:regular">
</head>
<body>
<div id="contents">

<header>
  <h1>reST Previewer</h1>
</header>

<nav id="menutab-wrapper">
  <a id="menutab-source" class="menutab menutab-left">Source</a>
  <a id="menutab-preview" class="menutab">Preview</a>
  <a id="menutab-quickref" class="menutab">Quickref</a>
  <a id="menutab-cheatsheet" class="menutab">Cheatsheet</a>
  <a id="menutab-realtime" class="menutab menutab-right menutab-selected">Realtime</a>
</nav>

<div id="pane-source" class="pane">
  <textarea id="source" placeholder="Input reStructuredText here." wrap="off"></textarea>
</div>

<div id="pane-preview" class="pane">
  <iframe id="preview"></iframe>
</div>

<div id="pane-quickref" class="pane">
  <iframe id="quickref" class="external-contents"></iframe>
</div>

<div id="pane-cheatsheet" class="pane">
  <iframe id="cheatsheet" class="external-contents"></iframe>
</div>

<div id="pane-realtime" class="pane">

  <div id="realtime-container">
    <div id="source-column">
      <h2>Source:</h2>
      <hr />
      <textarea id="realtimesource" wrap="off">==============
reST Previewer
==============

What is this?
=============
reST Previewer is preview tool for reStructuredText.

Usage
=====
Input reStructuredText here.</textarea>
    </div>
    <div id="preview-column">
      <h2>HTML:</h2>
      <hr />
      <iframe id="realtimepreview"></iframe>
    </div>
  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{{url_for('static', filename="jquery.ba-throttle-debounce.js")}}"></script>
<script src="{{url_for('static', filename="script.js")}}"></script>
<script async>
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-21536120-2']);
_gaq.push(['_trackPageview']);
(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
<a href="https://github.com/lanius/restpreviewer"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
</body>
</html>
